<style>
    .addAuthor{
        padding: 10px;
        border: 1px solid blue;
        border-radius: 10px;
    }
    .addAuthor input{
        margin-right: 200px;
        margin-top: 30px;
        margin-left: 30px;
    }
    .cancel, .submit{
        margin-top: 30px;
        height: 40px;
        /* width: 50px; */
        font-size: 20px;
        border-radius: 10px;
        
    }
    .submit{
        margin-left: 10px;
        
    }
</style>
<h4>Add a new record: </h4>
<div class='addAuthor'>
    <form (submit) = 'createRecord()' >
        Name: <input type = 'text' name='name' [(ngModel)] = 'recordName.name'><br>
        Quantity: <input type = 'text' name='name' [(ngModel)] = 'recordName.qty'><br>
        Price: <input type = 'text' name='name' [(ngModel)] = 'recordName.price'><br>
        <button [routerLink]="['/']" class='cancel'>Cancel</button>
        <button class='submit'>Submit</button>
    </form>
</div>
